html, body {
  background-color: #2F4F30;
  color: white;
  margin: 0px;
  overflow: hidden;
}

.title {
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.custom-card {
  left: 100px;
  margin-left: -75px;
  position: relative;
  width: 150px;
}

#cards-computer, #cards-player {
  height: 250px;
}